

.card {
    border: none
}

.product {
    background-color: #eee
}

.brand_a {
    font-size: 13px
}

.act-price {
    color: red;
    font-weight: 700
}

.dis-price {
    text-decoration: line-through
}

.about_t {
    font-size: 14px
}

.color {
    margin-bottom: 10px
}

label.radio {
    cursor: pointer;
    border-radius: 5px;
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 2px 9px;
    border: 1px solid black ;
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase
}

label.radio input:checked+span {
   
    color: #fff
}

.btn-danger {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important
}

.btn-danger:hover {
    background-color: #da0606 !important;
    border-color: #da0606 !important
}

.btn-danger:focus {
    box-shadow: none
}

.cart i {
    margin-right: 10px
}   


/* comentare*/
.widget .panel-body {
     padding:0px; 
}
.widget .list-group {
     margin-bottom: 0;
}
.widget .panel-title {
     display:inline 
}
.widget .label-info { 
    float: right; 
}
.widget li.list-group-item {
    border-radius: 0;border: 0;border-top: 1px solid #ddd;
}
.widget li.list-group-item:hover { 
    background-color: rgba(86,61,124,.1); 
}
.widget .mic-info { 
    color: #666666;font-size: 11px; 
}
.widget .action { 
    margin-top:5px; 
}
.widget .comment-text { 
    font-size: 12px;
}
.widget .btn-block { 
    border-top-left-radius:0px;border-top-right-radius:0px; 
}
/* comentare end*/