*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__b{
    padding-top: 70px;
    padding-bottom: 30px;
}

.row__b{
    clip-path: polygon(26% 0%, 29% 98%, 100% 98%, 100% 100%, 0 100%, 0 0%);
    background: red;
    height: 80px;
    width: 100%;
    
}
.row__b h2{
    padding-left: 10px;
    font-size:20px;
    padding-top: 23px;
    color: white !important;
    
}

.row__a{
    clip-path: polygon(32% 0%, 28% 99%, 100% 99%, 100% 100%, 0 100%, 0 0%);
    background: red;
    height: 80px;
    width: 100%;
    
}
.row__a h2{
    padding-left: 10px;
    font-size:20px;
    padding-top: 23px;
    color: white !important;
    
}
@media only screen and (max-width: 960px){
    .row__b{
        display: none;
    }
    .row__a{
        display: none;
    }


}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 5px !important;
}
.card:hover{
    box-shadow:0 3px 8px rgba(0, 0, 0, .3);
}


.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-img {
    width: 350px;
    transition: .5s ease-in-out;
}

.card-img:hover{
    transform: scale(1.1);
}

.star {
    color: orange;
}

.bg-cart {
    background-color: #fff;
    color: red;
    border-radius: 30px;
}

.bg-cart:hover {
    background-color: red;
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}

a {
    text-decoration: none !important
}

/* ssssssssssssssssssssssssssssssss */


.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 0px 0px 0px 0px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 16px;
    font-weight: 500
}

.counter-box i {
    font-size: 35px;
    margin: 4px 0 10px 0px;
    color: #fc0000
}

.counter {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #666;
    line-height: 20px
}

.counter-box.colored {
    background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: rgb(250, 250, 250)
}


/* Pagination*/

.pagination-outer{ 
    text-align: center; 
    
}
.pagination{
    font-family: poppins;
    border-radius: 10px 10px 0 0;
    border-top: 10px solid red;
    display: inline-flex;
}
.pagination li{
    padding: 5px 0;
    margin: 0 5px;
}
.pagination li a.page-link{
    color: black;
    background: transparent;
    font-size: 21px;
    font-weight: 500;
    line-height: 30px;
    height: 33px;
    width: 43px;
    padding: 0;
    margin: 0;
    border: 1px solid red;
    border-radius: 0;
    display: block;
    transition: all 0.3s ease 0s;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover,
.pagination li a.page-link:focus{
    color: #fff;
    background: red;
    line-height: 38px;
    height: 41px;
    margin: -5px 0 -3px;
    border: 1px solid red;
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: block;
    }
    .pagination li{ display: inline-block; }
}

/* Pagination end*/