

.t-products {
    background:blue;
    color: white;
    border-radius: 3px;
}

.t-products h6{
    color: white;
}

.processor {
    background-color: #fff;
    margin-top: 5px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;

}

.brand_ba {
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}

.type {
    background-color: #fff;
    font-size: 14px !important;
}
.font_fam{
    font-size: 14px;
    padding-left: 19px !important;
}












